@black:#000;
@title-a-color:#969b9f;
//headerColor
@blog-header-bg:#f5f8fa;
@blog-main-color:rgba(246, 74, 182, 0.66);
@white:#FFF;
@blog-header-hover-color:#000;
//articleColor
@article-meta-a:rgba(0,0,0,0.5);
@article-date:rgb(187, 199, 204);
@article-entry-p:rgb(93, 93, 93);
@article-main-color:#fcf59b;
//lineStyle
@lineStyle-bg:rgb(158,171,179);



@forecolor: rgba(246, 74, 182, 0.66);
@backcolor: #fff;

@blog-footer:rgb(187, 199, 204);
