@a-font: "Segoe UI Emoji";
// header
@blog-main-font:  "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
@blog-header-size:16px;
@logo-link-font: 'Microsoft YaHei';
//article
@article-title-size:33px;
@article-entry-p-size:18px;
