@a-font: "Segoe UI Emoji";
// header
@blog-main-font: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
@blog-header-size:16px;
@logo-link-font: 'Microsoft YaHei';
//article
@article-title-size:33px;
@article-entry-p-size:18px;
