<%- partial('post/scroll-button') %>
    <footer class="blog-footer" id="blog-footer">
        <div id="footer-info" class="inner">
            Made with ♥ by <a href="https://github.com/yzzting/hexo-theme-MyFairLady" target="_blank">MyFairLady</a>
        </div>
    </footer>
    <script src="/js/sidebar.js"></script>
    <script src="/js/toTop.js"></script>
    <script src="/js/bookmark.js"></script>