//Cathsgbr
@font-face {
    font-family: 'cathsgbr';
    src: url('../../fonts/cathsgbr.eot');
    src: url('../../fonts/cathsgbr.eot?#iefix') format('embedded-opentype'), url('../../fonts/cathsgbr.woff') format('woff'), url('../../fonts/cathsgbr.ttf') format('truetype'), url('../../fonts/cathsgbr.svg#cathsgbr') format('svg');
    font-weight: lighter;
    font-style: normal;
}
//Font Style
$blog-main-font: "Segoe UI", "Lucida Grande", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
$articleFont: Monda, "PingFang SC", "Microsoft YaHei", sans-serif;
$logoFont: 'Athelas, STHeiti, Microsoft Yahei, serif';
@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1473170564_3825922.eot');
    /* IE9*/
    src:url('//at.alicdn.com/t/font_1473170564_3825922.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1473170564_3825922.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/font_1473170564_3825922.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url( '//at.alicdn.com/t/font_1473170564_3825922.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
